body{
  width: 80%;
  margin: auto;
}

header, footer
{
  background: #784700;
  color: white;
  text-align: center;
}

.container{
  height: 400px;
  background: lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#un, #do, #tre{
  height: 100px;
  width: 80%;
  background: #7847B6;
  margin: 1%;
}

#do, #tre{
  display: none;
}

@media (min-width: 768px) {
  #do, #un{
    display: block;
    background: yellow;
  }

  header{
    text-align: left;
  }

  footer{
    text-align: right;
  }
}



@media (min-width: 1024px) {
  #tre, #do, #un{
    display: block;
    background: lightblue;
  }
  header{
    text-align: right;
  }

  footer{
    text-align: left;
  }
}
