table{
  width: 80%;
  margin: auto;
}

caption{
  font-size: 2em;
  font-family: arial;
  padding: 10px;
}

th, td{
  text-align: center;
  font-size: .9em;
  font-family: sans-serif;
  padding: 5px;
}

/*par*/
tbody tr:nth-child(even){
  background-color: lightgrey;
}

/*impar*/
body tr{
  background: whitesmoke;
}

thead tr, tfoot tr{
  background: lightskyblue;
}

tbody tr:nth-child(6), tbody tr:nth-last-child(2){
  background: lightsalmon;
}

tbody tr:nth-child(even):hover, tbody tr:nth-child(odd):hover{
  background: rgba(0,0,0,0.5);
  color: white;
  transition: .3s;
}

tr{
  transition: .3s;
}

a:link{
  color: red;
}

a:visited{
  color: green;
}
